<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>{% block title %}Elemele{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            *{
                box-sizing: border-box;
            }
            html,body{
                margin: 0;
                background-color: #0f0f0f;
                color: #ffffff;
                font-family: Arial, sans-serif;
                overflow: hidden;
            }
            main {
                width: 100vw;
                height: 100%;
                top: 0;
                position: absolute;
            }
            section{
                display: flex;
                flex-wrap: wrap;
                width: 100vw;
            }
            h1 {
                color: #ffffff;
                font-family: Impact, sans-serif;
                text-align: center;
                font-size: 30px;
                margin-top: 35px;
                margin-bottom: 75px;
            }
            a {
                display: block;
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                font-size: 22px;
                height: 110px;
            }
            .login-parent{
                background-color: #273927;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 80px;
            }
            .register-parent{
                background-color: #272727;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
            }
            .flash-notice{
                position: absolute;
                color: #ff9999;
                font-size: 25px;
                text-align: center;
                width: 100%;
                height: 100%;
                padding-top: 50%;
                background-color: #0a0a0a99;
            }
            .flash-notice-info{
                position: absolute;
                color: #99ff99;
                font-size: 25px;
                text-align: center;
                width: 100%;
                height: 100%;
                padding-top: 50%;
                background-color: #0a0a0a99;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            function hide(elem){
                elem.style.display = 'none';
            }
            addEventListener("load", function() {
                let viewport = document.querySelector("meta[name=viewport]");
                viewport.setAttribute("content", viewport.content + ", height=" + window.outerHeight);
                let main = document.querySelector('main');
                main.style.height = window.outerHeight + 'px';
            })
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <main>
        {% for message in app.flashes('error') %}
            <div class="flash-notice" onclick="hide(this)">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('info') %}
            <div class="flash-notice-info" onclick="hide(this)">
                {{ message }}
            </div>
        {% endfor %}
        <h1>ElemeleApp</h1>
        <a href="/login" class="login-parent"><span>Logowanie</span></a>
        <a href="/register" class="register-parent"><span>Rejestracja</span></a>
    </main>
{% endblock %}
</body>
</html>
