<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Elemele{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            *{
                box-sizing: border-box;
            }
            html,body{
                margin: 0;
                background-color: #0f0f0f;
                color: #ffffff;
                font-family: Arial, sans-serif;
            }
            main{
                width: 100vw;
                height: 100vh;
                top: 0;
                position: absolute;
            }
            h1{
                color: #ffffff;
                font-family: Impact, sans-serif;
                text-align: center;
                font-size: 80px;
                margin-top: 75px;
            }
            a{
                display: block;
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                font-size: 48px;
                height: 300px;
            }
            .login-parent{
                background-color: #273927;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 200px;
            }
            .register-parent{
                background-color: #272727;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 100px;
            }
            .flash-notice{
                position: absolute;
                color: #ff9999;
                font-size: 72px;
                text-align: center;
                width: 100%;
                padding-top: 75px;
                padding-bottom: 75px;
                background-color: #0a0a0a99;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            function hide(elem){
                elem.style.display = 'none';
            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <main>
        {% for message in app.flashes('error') %}
            <div class="flash-notice" onclick="hide(this)">
                {{ message }}
            </div>
        {% endfor %}
        <h1>ElemeleApp</h1>
        <a href="/login" class="login-parent"><span>Logowanie</span></a>
        <a href="/register" class="register-parent"><span>Rejestracja</span></a>
    </main>
{% endblock %}
</body>
</html>
