<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Elemele{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            *{
                box-sizing: border-box;
            }
            html,body{
                margin: 0;
                background-color: #0f0f0f;
                color: #ffffff;
                font-family: Arial, sans-serif;
            }
            main {
                width: 100vw;
                height: 100vh;
                top: 0;
                position: absolute;
            }
            section{
                display: flex;
                flex-wrap: wrap;
                width: 100vw;
            }
            h1 {
                color: #ffffff;
                font-family: Impact, sans-serif;
                text-align: center;
                font-size: 80px;
                margin-top: 75px;
                margin-bottom: 200px;
            }
            a {
                display: block;
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                font-size: 48px;
            }
            label {
                color: #fff;
                display: block;
                width: 100%;
                text-align: center;
                font-size: 48px;
            }
            section input {
                width: 100%;
                border: none;
                height: 80px;
                margin-bottom: 200px;
                font-size: 72px;
            }
            .register-button{
                background-color: #273927;
                width: 100%;
                height: 300px;
                font-size: 48px;
                color: #fff;
                border: none;
                position: absolute;
                bottom: 0;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>
<body>
{% block body %}
    <main>
        <a href="/"><h1>ElemeleApp</h1></a>
            <form method="post" action="/api/register.form">
                <section>
                    <label for="username">Login</label>
                    <input type="text" name="username">
                </section>
                <section>
                    <label for="password">Hasło</label>
                    <input type="password" name="password">
                </section>
                    <input type="submit" value="Zarejestruj" class="register-button">
            </form>
    </main>
{% endblock %}
</body>
</html>
