<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Elemele{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            *{
                box-sizing: border-box;
            }
            html,body{
                margin: 0;
                background-color: #0f0f0f;
                color: #ffffff;
                font-family: Arial, sans-serif;
            }
            main{
                width: 100vw;
                height: 100vh;
                top: 0;
                position: absolute;
            }
            section{
                width: 100%;
            }
            h1{
                font-family: Impact, sans-serif;
                text-align: center;
                font-size: 80px;
                margin-top: 75px;
            }
            h2{
                text-align: center;
                font-size: 48px;
            }
            h3{
                text-align: center;
                font-size: 32px;
            }
            a{
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                font-size: 48px;
            }
            .house-wrap{
                display: flex;
                flex-wrap: wrap;
                align-content: start;
                justify-content: flex-start;
            }
            .house-wrap > a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50vw;
                height: 50vw;
                border: solid 2px #fff;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            function showRooms(buttonElem){
                let elem = document.querySelector('#roomsSection');

                if(elem.style.display === 'flex'){
                    elem.style.display = 'none';
                    buttonElem.querySelector('div').style.display = 'flex';
                } else {
                    elem.style.display = 'flex';
                    buttonElem.querySelector('div').style.display = 'none';
                }
            }
            function showUsers(buttonElem){
                let elem = document.querySelector('#usersSection');

                if(elem.style.display === 'flex'){
                    elem.style.display = 'none';
                    buttonElem.querySelector('div').style.display = 'flex';
                } else {
                    elem.style.display = 'flex';
                    buttonElem.querySelector('div').style.display = 'none';
                }
            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <main>
        <a href="/"><h1>ElemeleApp</h1></a>
        <h2>{{ room_name }}</h2>

        <h3 onclick="showRooms(this)">Obowiązki w pokoju</h3>
        <section class="house-wrap" id="roomsSection">
            {% for chore in chores %}
                <a href="#">
                    <span>{{ chore.name }}</span>
                </a>
            {% endfor %}
            <a href="#">
                <span>+</span>
            </a>
        </section>
    </main>
{% endblock %}
</body>
</html>
